---
import { getCollection } from "astro:content"
import BlueLink from "../../components/link/blue-link"
import ContentLayout from "../../layouts/ContentLayout.astro"
import { getCategoryBaseUrl } from "../../lib/urls"

const allPosts = await getCollection("blog")

const categories = new Set<string>()

allPosts.forEach(post => {
  post.data.categories.forEach(category => {
    categories.add(category.split("/")[0])
  })
})

const sortedCategories = Array.from(categories).sort()
---

<ContentLayout title="Categories" showTitle={true} tab="Blog">
  <ul slot="main" class="flex list-inside list-disc flex-col gap-y-2">
    {
      sortedCategories.map(category => (
        <li>
          <BlueLink
            href={getCategoryBaseUrl(category)}
            ariaLabel={`View ${category} posts`}
          >
            {category}
          </BlueLink>
        </li>
      ))
    }
  </ul>
</ContentLayout>
