---
import { getCollection } from "astro:content"
import BlueLink from "../../components/link/blue-link"
import ContentLayout from "../../layouts/ContentLayout.astro"
import { getTagBaseUrl } from "../../lib/urls"

const allPosts = await getCollection("blog")

const tags = new Set<string>()

allPosts.forEach(post => {
  post.data.tags.forEach((tag: string) => {
    tags.add(tag)
  })
})

const sortedTags = Array.from(tags).sort()
---

<ContentLayout title="Tags" showTitle={true} tab="Blog">
  <ul slot="main" class="flex list-inside list-disc flex-col gap-y-2">
    {
      sortedTags.map(tag => (
        <li>
          <BlueLink href={getTagBaseUrl(tag)} ariaLabel={`View ${tag} posts`}>
            {tag}
          </BlueLink>
        </li>
      ))
    }
  </ul>
</ContentLayout>
