@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base font-normal text-slate-900;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold leading-none;
}

.trans-ani-300 {
  @apply duration-300 ease-out;
}

.trans-ani-500 {
  @apply duration-500 ease-out;
}

.trans-ani-700 {
  @apply duration-700 ease-out;
}

.trans-ani-1000 {
  @apply duration-1000 ease-out;
}

.markdown a {
  @apply text-blue-600 hover:underline;
}

.markdown-white {
  @apply text-white;
}

.markdown ol {
  @apply mb-6 ml-8 list-outside list-decimal;
}

.markdown ul {
  @apply mb-6 ml-8 list-outside list-disc;
}

.markdown ul li::marker {
  @apply text-2xl;
}

.markdown h1 {
  @apply mb-4 text-3xl capitalize;
}

.markdown h1:not(:first-child) {
  @apply mt-8;
}

.markdown h2 {
  @apply mb-4 text-2xl capitalize;
}

.markdown h2:not(:first-child) {
  @apply mt-8;
}

.markdown h3 {
  @apply mb-4 text-xl capitalize;
}

.markdown h3:not(:first-child) {
  @apply mt-8;
}

.markdown h4 {
  @apply mb-4 text-lg capitalize;
}

.markdown h4:not(:first-child) {
  @apply mt-8;
}

.markdown p {
  @apply mb-4;
}

.markdown th,
td {
  padding: 0.5rem 2rem;
}

.post {
  @apply text-justify;
}

.post li {
  @apply mb-0;
}

.post p em {
  @apply mt-8 block w-full text-center leading-none;
}

.post blockquote {
  @apply my-4 overflow-hidden rounded-md bg-ms-gray p-6 font-bold md:mx-4;
}

.post > p:first-of-type::first-letter {
  @apply text-3xl font-bold;
}

.post .sumup {
  @apply font-bold text-sky-500;
}

.post .conclusion {
  @apply my-16 rounded-lg bg-slate-700 p-6 text-base text-slate-100 shadow lg:my-24;
}

.post .conclusion a {
  @apply text-white;
}

.post .conclusion ol,
.post .conclusion ul {
  @apply mb-0;
}

.post .conclusion li {
  @apply mb-2;
}

.post table {
  @apply my-4 w-full border-separate bg-amber-50  text-base;
}

.post th {
  @apply bg-amber-300 py-1 text-white;
}

.post tr td {
  @apply px-2 py-1;
}

.hint {
  @apply absolute left-0 bottom-0 -translate-x-1/2 whitespace-nowrap rounded-md bg-black/80 px-3 py-2 text-xs text-white;
}

.hint:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px transparent solid;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  margin-left: -10px;
  margin-top: -10px;
}

.overlay-show {
  transition: opacity 300ms ease-out, visibility 0s ease-out;
}

.overlay-hide {
  transition: opacity 300ms ease-out, visibility 0s ease-out 300ms;
}

.placeholder-show {
  transition: opacity 300ms ease-out, visibility 0s ease-out;
}

.placeholder-hide {
  transition: opacity 700ms ease-out, visibility 0s ease-out 700ms;
}