---
import { getCollection } from "astro:content"
import HCenterCol from "../components/HCenterCol.astro"
import BaseLink from "../components/link/base-link"
import BlueButtonArrowLink from "../components/link/blue-button-arrow-link"
import BlueLink from "../components/link/blue-link"
import PostsPage from "../components/pages/PostsPage.astro"
import AvatarImageLarge from "../components/person/avatar-image-large"
import VCenterCol from "../components/VCenterCol.astro"
import VCenterRow from "../components/VCenterRow.astro"
import ContentLayout from "../layouts/ContentLayout.astro"
import { getAuthorMap } from "../lib/api/author"
import { sortPosts } from "../lib/api/post"
import { getPageItems } from "../lib/paginate"
import { getUrlFriendlyTag } from "../lib/tags"
import { getAuthorBaseUrl } from "../lib/urls"

const people = await getCollection("people")

const authorMap = getAuthorMap(people)

const posts = getPageItems(sortPosts(await getCollection("blog")), 0, 10)

//const person = authorMap[getUrlFriendlyTag("Antony Holmes")]
---

<ContentLayout title="Home" showCrumbs={false}>
  <div slot="main">
    <div class="grid grid-cols-1 gap-y-8 xl:grid-cols-2 xl:gap-x-12">
      <VCenterCol className="h-full items-center gap-y-8">
        <BaseLink
          href={getAuthorBaseUrl("Antony Holmes")}
          ariaLabel="View profile"
        >
          <AvatarImageLarge
            person="Antony Holmes"
            className="w-64 h-64"
            client:visible
          />
        </BaseLink>
      </VCenterCol>

      <VCenterCol className="gap-y-16 font-medium xl:py-16">
        <HCenterCol className="gap-y-5 text-lg">
          <h1 class="text-6xl font-extrabold">Hi There.</h1>

          <p class="text-center">
            I'm Antony Holmes, and welcome to my personal website. That's me in
            the photo, posing by the Hudson River for no particular reason.
          </p>

          <p class="text-center">
            I'm a developer and researcher in New York who learned how to do a
            few cool things with Java, Python, React, Gatsby, Next.js, Astro and
            other tech, some of which was used to make what your looking at now.
          </p>

          <p class="text-center">
            I made this site with love, mostly to try and get high{" "}
            <BlueLink href="https://pagespeed.web.dev/">Lighthouse</BlueLink>{
              " "
            }
            scores. I think I mostly succeeded.
          </p>

          <p class="text-center">
            I have an aptly named publications page where you can view all of
            the scientific literature I have written, primarily focused on
            cancer genetics.
          </p>

          <p class="text-center">My life story probably won't be optioned.</p>
        </HCenterCol>

        <VCenterRow className="justify-center">
          <div class="flex flex-row gap-6">
            <BlueButtonArrowLink href="/resume" className="px-4 py-2">
              Resume
            </BlueButtonArrowLink>

            <BlueLink
              href="/publications"
              className="flex flex-row items-center "
            >
              Publications
            </BlueLink>
          </div>
        </VCenterRow>
      </VCenterCol>
    </div>
    <section class="mt-16 border-t border-slate-200 pt-16">
      <PostsPage posts={posts} page={0} pages={1} />
    </section>
  </div>
</ContentLayout>
