---
import { getCollection } from "astro:content"
import CompactAvatars from "../components/person/compact-avatars"
import ContentLayout from "../layouts/ContentLayout.astro"

const people = await getCollection("people")
---

<ContentLayout title="People" showTitle={false}>
  <ul slot="main">
    {
      people.map(person => {
        return (
          <li>
            <CompactAvatars people={[person.data.name]} client:visible />
          </li>
        )
      })
    }
  </ul>
</ContentLayout>
