---
import BlueLink from "../components/link/blue-link"
import ContentLayout from "../layouts/ContentLayout.astro"
import { HEADER_LINKS } from "../menus"
---

<ContentLayout title="Site Map" showTitle={true}>
  <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-4 mb-64" slot="main">
    <section>
      <h3 class="mt-4 font-bold">Learn More</h3>
      <ul class="mt-4 flex flex-col gap-y-3">
        {
          HEADER_LINKS.map((link: any, i: number) => {
            return (
              <li>
                <BlueLink ariaLabel={`Goto ${link.name}`} href={link.url}>
                  {link.name}
                </BlueLink>
              </li>
            )
          })
        }
      </ul>
    </section>

    <section>
      <h3 class="mt-4 font-bold">Help</h3>
      <ul class="mt-4 flex flex-col gap-y-3">
        <li>
          <BlueLink href="/about" ariaLabel="View help information">
            About
          </BlueLink>
        </li>

        <li>
          <BlueLink href="/privacy" ariaLabel="View privacy information">
            Privacy Policy
          </BlueLink>
        </li>
        <li>
          <BlueLink href="/terms" ariaLabel="View terms and conditions">
            Terms of Use
          </BlueLink>
        </li>

        <li>
          <BlueLink href="/contact" ariaLabel="Contact us">Contact</BlueLink>
        </li>
      </ul>
    </section>
  </div>
</ContentLayout>
