---
import cn from "../lib/class-names"

let { className, style } = Astro.props
---

<div class={cn("flex flex-row justify-center px-4", className)} style={style}>
  <div><slot name="left" /></div>
  <div class="w-full lg:w-90/100 2xl:w-80/100"><slot name="main" /></div>
  <div><slot name="right" /></div>
</div>
