---
import cn from "../lib/class-names"
import IClassProps from "../interfaces/class-props"

export interface Props extends IClassProps {}

const { className } = Astro.props
---

<section class={cn("markdown", className)}>
  <slot />
</section>
