---
import IClassProps from "../interfaces/class-props"
import cn from "../lib/class-names"

export interface Props extends IClassProps {}

let { className } = Astro.props
---

<div
  class={cn(
    "grid grid-cols-1 gap-x-0 lg:grid-cols-16 lg:gap-x-8 2xl:gap-x-16",
    className
  )}
>
  <section class="hidden lg:block lg:col-span-1"><slot name="left" /></section>
  <article class="col-span-15 xl:col-span-11"><slot name="main" /></article>
  <section class="hidden xl:block xl:col-span-4"><slot name="right" /></section>
</div>
